h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
  font-weight: 500;
}

h5 {
  font-size: $h5-font-size;
  font-weight: 600;
}

h6 {
  font-size: $h6-font-size;
  font-weight: 700;
}

p {
  margin: 0;
  font-weight: 400;
  color: $gray-700;
  &.sub-header {
    font-size: 14px;
  }
  &.caption {
    font-size: 10px;
  }
  &.small {
    font-size: 8px;
  }
  font-size: 11px;
}
