h4 {
  font-weight: 500;
}

h5 {
  font-weight: 600;
}

h5 {
  font-weight: 700;
}

p {
  font-weight: 400;
  color: $gray-700;
  &.sub-header {
    font-size: 14px;
  }
  &.caption {
    font-size: 10px;
  }
  &.small {
    font-size: 8px;
  }
  font-size: 11px;
}
